# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
rootfs_common/www/
rootfs_amd64/bin/ugreen-ai-backend
rootfs_arm64/bin/ugreen-ai-backend
build_dir/
public/version.json
tools/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
